# Builds
.next/
.nuxt/
.parcel-cache/
.serverless/
.svelte-kit/
.turbo/
.vite/
build/
dist/
out/
storybook-static/

# Cache
.cache/
.dmypy.json
.eslintcache
.grunt
.hypothesis/
.mypy_cache/
.nox/
.parcel-cache/
.pyre/
.pytype/
.ruff_cache/
.stylelintcache
.tox/
.vitest/
dmypy.json

# Coverage
*.cover
*.py,cover
.coverage
.coverage.*
.pytest_cache/
coverage.json
coverage.xml
coverage/
htmlcov/
nosetests.xml
pytest-*.xml

# Databases
*.db
*.db-shm
*.db-wal
*.rdb
*.sqlite
*.sqlite3

# Docker
docker-compose.override.yml

# Environment & secrets
!.env.example
*.cer
*.crt
*.der
*.p12
*.pem
*.pfx
*.pub
.env
.env.*
.secrets.baseline
certs/
secrets/

# IDE — JetBrains
*.iml
*.ipr
*.iws
.idea/
.idea_modules/

# IDE — Other
*.sublime-project
*.sublime-workspace
*.swn
*.swo
*.swp
.classpath
.project
.pydevproject
.settings/
.vs/

# IDE — VS Code
*.vsix
.history/
.vscode/*.code-snippets
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json

# Linux
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

# Logs
*.log
*.log.*
log/
logs/

# macOS
._*
.AppleDB
.AppleDesktop
.AppleDouble
.apdisk
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.DS_Store?
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Icon
Network Trash Folder
Temporary Items

# Node
*.tgz
*.tsbuildinfo
.node_repl_history
.npm/
.pnpm-store/
.yarn/
.yarn-integrity
lerna-debug.log*
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
*$py.class
*.egg
*.egg-info/
*.py[cod]
*.pyd
*.so
.eggs/
.installed.cfg
.ipynb_checkpoints
.pdm.toml
.Python
.python-version
.venv
__pypackages__/
__pycache__/
build/
celerybeat-schedule
celerybeat.pid
develop-eggs/
dist/
downloads/
eggs/
env/
env.bak/
ENV/
ipython_config.py
lib/
lib64/
MANIFEST
parts/
pip-wheel-metadata/
profile_default/
sdist/
var/
venv/
venv.bak/
wheels/

# Temporary
*.bak
*.diff
*.orig
*.patch
*.pid
*.pid.lock
*.rej
*.seed
*.temp
*.tmp
.tmp/
temp/
tmp/

# Testing
playwright-report/
test-results/

# Windows
$RECYCLE.BIN/
*.cab
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
Thumbs.db
Thumbs.db:encryptable

